:root {
  --coloPrincipal: #ffdead;
  --boxShadow: 3px 3px 2px rgba(0, 0, 0, 0.671);
  font: 60 15px/ 0px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  list-style: inline-block;
  font-family: "mifuente"; }

@media screen and (max-width: 1500px) {
  main {
    padding: 60px;
    text-align: center;
    font-family: "mifuente"; }
  nav {
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-color: #212121; }
  header {
    text-align: center; }
  footer {
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-color: #212121;
    text-align: center; }
  .header_Nosotros {
    width: 100%;
    padding: 65px 15px;
    font-size: 1rem; } }

#grilla {
  display: grid;
  grid-template-areas: "nav nav nav"
 "header header header"
 "footer footer footer";
  grid-template-rows: 100px 200px 250px 350px;
  grid-template-columns: 25% auto 25%;
  background-color: #212121;
  margin: 0%; }

.container {
  grid-area: "container";
  font-size: 20px;
  padding: 1rem;
  background-color: #ffdead; }

.nav__responsive-ul {
  display: none; }

.nav__li:hover > a {
  color: #212121; }

.nav__responsive-li {
  color: #212121; }

.nav__responsive-li:hover > a {
  color: #212121; }

@media only screen and (max-width: 870px) {
  .nav__ul {
    display: none;
    max-width: 100%;
    justify-content: center;
    background-color: #ffdead; }
  .nav {
    heigth: 37px;
    width: 100%;
    background-color: #ffdead; }
  .nav__responsive-ul {
    display: block;
    position: absolute;
    height: 100%;
    top: -100%; }
  .nav__responsive-li {
    width: 33%;
    padding: 123px 2px; }
  .nav__responsive-ul:hover > .nav__li-container {
    top: -27px; }
  .nav__li-container {
    position: relative;
    top: -100%;
    transition: all 1s;
    z-index: 100; }
  #services {
    display: none; }
  #carouselExampleIndicators {
    display: none; }
  .container a:hover::before {
    transform: scaleX(3); }
  .footer_p {
    background-color: #ffdead;
    font-size: 25px; }
  .header_Nosotros {
    width: 100%;
    padding: 65px 15px;
    font-size: 1rem; }
  .card {
    padding-top: 150px; } }

/* bootstrap */
@keyframes fadein {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    transform: scale(0, 0); } }

@keyframes fadein2 {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(0, 0); } }

/* Firefox < 16 */
@-moz-keyframes fadein2 {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(0, 0); } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein2 {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(0, 0); } }

/* Internet Explorer */
@-ms-keyframes fadein2 {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(0, 0); } }

/* Opera < 12.1 */
@-o-keyframes fadein2 {
  from {
    transform: scale(1, 1); } }

body {
  background: #ffdead;
  transition: all 4s;
  overflow-x: hidden;
  margin: 0 0 0 0; }

.hover {
  transform: scale(50, 50); }

.rect1, .rect2, .rect3 {
  -webkit-transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  -moz-transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  -o-transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  /* custom */ }

.Menu {
  background: #ffdead;
  width: 200px;
  -webkit-transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  -moz-transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  -o-transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  /* custom */
  height: 200px;
  border-radius: 50%;
  z-index: 99;
  float: right;
  margin-right: -155px;
  margin-top: -100px; }

.Menu2 {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: absolute; }

#menulogo {
  margin-right: 25px;
  position: relative;
  z-index: 999;
  float: right;
  -webkit-transition: all 500ms cubic-bezier(0, 1, 0.985, 0.99);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0, 1.65, 0.985, 0.99);
  -moz-transition: all 500ms cubic-bezier(0, 1.65, 0.985, 0.99);
  -o-transition: all 500ms cubic-bezier(0, 1.65, 0.985, 0.99);
  transition: all 500ms cubic-bezier(0, 1.65, 0.985, 0.99);
  /* custom */
  margin-top: 25px; }

#menulogo:hover {
  -webkit-transform: scale(1.1, 1.1); }

#menulogo:hover {
  cursor: pointer; }

#home {
  height: 100vh;
  margin-top: -65px;
  width: 100%;
  background: url(https://soplosviajeros.com/wp-content/uploads/2019/01/amasado-panaderia-artes-alella-maresme-04.jpg);
  background-position: center;
  background-size: cover;
  font-family: 'mifuente';
  text-transform: uppercase;
  background-attachment: fixed; }

.allMenu {
  width: 100%;
  height: 100px;
  position: fixed; }

ul {
  position: absolute;
  z-index: 9999;
  margin-top: -100px;
  -webkit-transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  -moz-transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  -o-transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  transition: all 800ms cubic-bezier(0.98, 0.005, 0, 0.995);
  /* custom */
  margin-left: auto;
  margin-right: auto;
  margin-right: 200px;
  width: 80%; }

ul li {
  display: inline-block;
  float: right;
  -webkit-transition: all 400ms cubic-bezier(0.98, 0.005, 0, 0.995);
  -moz-transition: all 400ms cubic-bezier(0.98, 0.005, 0, 0.995);
  -o-transition: all 400ms cubic-bezier(0.98, 0.005, 0, 0.995);
  transition: all 400ms cubic-bezier(0.98, 0.005, 0, 0.995);
  /* custom */
  margin-left: -4px;
  padding-left: 80px;
  padding-right: 80px;
  height: 100px;
  line-height: 100px; }

ul li:hover {
  background: #ffdead;
  transform: scale(1.2, 1.2);
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.3); }

ul li a {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffdead;
  font-weight: 700; }

ul li a:hover {
  cursor: pointer; }

/* footer bootstrap */
/* sitepoint: Bootstrap uses a class of .img-responsive to make any image responsive: */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

img {
  max-width: 100%;
  height: auto; }

.carousel-item {
  height: 100vh;
  min-height: 200px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'mifuente'; }

.btn-xl {
  padding: 1.75rem 2.5rem; }

.content-section {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem; }

.content-section-heading h2 {
  font-size: 2rem; }

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

/* Map */
.map {
  height: 30rem; }
